<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/fase1.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Share+Tech&family=Special+Gothic+Condensed+One&family=Special+Gothic+Expanded+One&display=swap" rel="stylesheet">
    <title>Negocio y entendimiento de datos</title>
</head>
<body>
    <header>
        <p id="sub">proyecto</p>
        <p id="nombre_proyecto">detección temprana y prevención del suicidio</p>
        <h1>Entendimiento del Negocio y los Datos</h1>
    </header>

    <main>
        <div class="contenedor-secciones">
            <section id="entendimiento">
                <h2>Entendimiento del Negocio</h2>
                <p>El objetivo de este proyecto es la detección temprana y prevención del suicidio. Se busca identificar patrones y factores de riesgo asociados al suicidio para implementar medidas preventivas efectivas.</p>
            </section>

            <section id="entendimiento_datos">
                <h2>Entendimiento de los Datos</h2>
                <p>Los datos utilizados en este proyecto provienen de diversas fuentes, incluyendo encuestas, registros médicos, tales como lo son los registros publicos de la organización mundial de la salud, registros de minsalud en colombia y la clinica mayo, entre otras fuentes asociadas a la organización mundial de la salud y datos demográficos. Se analizarán variables como la salud mental, el historial familiar y el entorno social.</p>
            </section>
        </div>
        <div id="boton">
            <a id="ingDatos" href="fase2">Ingenieria de datos </a>
        </div>
    </main>
</body>
</html>
