<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/index.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Share+Tech&family=Special+Gothic+Condensed+One&family=Special+Gothic+Expanded+One&display=swap" rel="stylesheet">
    <title>Menú inicial</title>
</head>
<body>
    <header>
      <p id="bienvenida">
        salud mental y prevencion del suicidio
      </p>
    </header>
    <main>
      <section id="menu">
        <div id="opciones">
          <section id="Negocio"><a href="fase1">Entendimiento del Negocio y los Datos</a></section>
          <section id="IngDeDatos"><a href="fase2">ingeniería de datos</a></section>
          <section id="IngModelo"><a href="fase3">ingenieria del modelo</a></section>
          <section id="EvModelo"><a href="fase4.html">evaluación del modelo</a></section>
          <section id="Despliegue"><a href="modelo">Despliegue del modelo</a></section>
        </div>
      </section>
    </main>
</body>
</html>
